.grid {
    display: grid;
    grid-template-columns: repeat(17, 30px);

    grid-template-rows: repeat(15, 30px);
    /* gap: 2px; */

    /* Optional spacing between squares */
    background-image: url("../assets/grass.png");
    background-size: cover;

    position: relative;
}

.tile {
    width: 30px;
    height: 30px;
}

.wall {
    background-image: url("../assets/hard-wall.png");
    background-size: cover;
}

.wall2 {
    background-image: url("../assets/wall2.png");
    background-size: cover;
}

.player {
    background-image: url("../assets/player/right_robot.png");
    background-size: cover;

    width: 20px;
    height: 20px;

    transform: translate(30px, 30px);
    position: absolute;
}

#player1 {
    background-color: red;
}

#player2 {
    background-color: blue;
}

#player3 {
    background-color: yellow;
}

#player4 {
    background-color: black;
}