.game {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.grid {
    display: grid;
    grid-template-columns: repeat(17, 50px);
    grid-template-rows: repeat(15, 50px);
    background-image: url("../assets/grass.png");
    background-size: cover;
    position: relative;
}

@keyframes bombPulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }
}

.bomb {
    background-image: url('../assets/bomb.png');
    background-size: cover;
    z-index: 2;
    position: absolute;
    width: 50px;
    height: 50px;

    animation: bombPulse 0.8s infinite ease-in-out;
}

.tile {
    width: 50px;
    height: 50px;
}

.wall {
    background-image: url("../assets/hard-wall.png");
    background-size: cover;
}

.wall2 {
    background-image: url("../assets/wall2.png");
    background-size: cover;
}

.player {
    width: 40px;
    height: 40px;
    position: absolute;
}

#player1 {
    background-image: url("../assets/player/bidawi.png");
    background-color: brown;
}

#player2 {
    background-image: url("../assets/player/lf9ih.png");
}

#player3 {
    background-image: url("../assets/player/mafia.png");
}

#player4 {
    background-image: url("../assets/player/lbnt.png");
}