.wall {
    background-image: url(../hard-wall.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 40px;
    height: 40px;
}

.map {
    position: relative;
    width: 600px;  /* Taille de la grille, ajustez selon la taille de votre jeu */
    height: 520px; /* Taille de la grille, ajustez selon la taille de votre jeu */
    background-image: url(../grass.png);
    background-position: center;
    background-size: cover;
    border: 2px solid #000;
    display: grid;
    grid-template-columns: repeat(15, 40px);  /* 10 colonnes, chaque case de 40px */
    grid-template-rows: repeat(13, 40px);  /* 10 lignes, chaque case de 40px */
    
}